---
---
<!DOCTYPE html>
<html>
{%- include 'head' %}

<body>
  {%- include 'header' %}
  <div class="page-content">
    <div class="wrapper">
      <!-- MAINLINE CONTENT -->
      <div class="home">
        <!-- Main Page Content Collection -->
        {%- assign ordered_pages = collections.maincontent | sort:"order_number" %}
        {%- for node in ordered_pages %}
        <div id="{{ node.data.title | slug }}" class="section p-{{id}}">
          {%- if page.icon %}
          <div class="subtlecircle sectiondivider imaged">
            <img src="{{page.icon}}" alt="section icon" />
            <h5 class="icon-title">{{ node.data.title }}</h5>
          </div>
          {%- elsif page.fa-icon %}
          <div class="subtlecircle sectiondivider faicon">
            <span class="fa-stack">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-{{ page.fa-icon }} fa-stack-1x"></i>
            </span>
            <h5 class="icon-title">{{ node.data.title }}</h5>
          </div>
          {%- endif %}
          <div class="container {{ page.style }}">
            {{ node.content }}
          </div>
        </div>
        {%- endfor %}
        <!-- End of Main Page Content Collection -->
      </div>
    </div>
  </div>
  {%- include 'footer' %}
</body>

</html>